 body{
  margin:0;
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

h1{
  margin-top:10px;
}

canvas{
  background:#111827;
  border:3px solid #00ffff;
  border-radius:12px;
  display:block;
  margin:20px auto;
}

button{
  padding:12px 25px;
  font-size:18px;
  background:#00ffff;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
}

.score{
  font-size:22px;
  margin-top:10px;
}
